.App {
  margin: 0;
}

.navBar {
  display: flex;
  align-items: center;
  background-color: #d8a47f;
  padding: 2%;
}

.header {
  margin-left: 50px;
  margin-right: auto;
  font-size: 50px;
  font-weight: bolder;
}

.navBar a {
  margin-right: 50px;
  margin-left: auto;
  font-size: 20px;
}

.welcome {
  background-color: pink;
  display: flex;
}

.welcome h2 {
  
}