/* app.js css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    box-sizing: border-box;
    /* Include padding and border in element dimensions */
    background: #676d4f;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* header css */
.header {
    background-color: #363d2c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

.tag {
    flex: 0 0 auto;
    margin-right: auto;
    margin-left: 30px;
}

.tag img {
    width: 250px;
}

#btn1,
#btn2,
#btn3,
#btn4 {
    display: flex;
    display: inline;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    height: 100px;
    width: 150px;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

/* footer css */
.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer button {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}

/* about me css */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pfp-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-p {
    background-color: #f2f2f2;
    border: 2px solid black;
    padding: 50px;
    border-radius: 50px;
    width: 500px;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
}

/* contact me ccs */
.contact-form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c3c5ad;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

/* portfolio css */
.portfolio {
    display: flex;
    flex-direction: column;
    /* Display cards in a column */
    align-items: center;
    justify-content: space-between;
    /* Space cards evenly along the column */
    height: 100vh;
    /* Set a specific height for the column if needed */
    padding: 20px;
}

.card {
    border: 2px solid black;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
}

.description {
    margin-top: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}